--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.0
torchvision==0.14.0
pytorch-ignite==0.4.10
numpy==1.23.5
opencv-python==4.6.0.66
pillow==9.3.0
matplotlib==3.6.2
tqdm==4.64.1
diffusers==0.14.0
transformers==4.26.1
